<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h3> Here you can search our book database </h3>
    <p class="bottom-three">
      <!-- tutaj pojdzie formularz wyszkuiwania ksiazek -->
      <form action="" method="post" name="search">
        <div class="field">
          <label for="title" class="label">Search</label>
          <div class="control">
            <input type="text" name="search" class="input" required="required"/>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary is-small" onclick="search()">Search</button>
          </div>
        </div>
      </form>
    </p>  

    {% if text %}
    {{ text | safe }}
    {% endif %}
    {% endblock %}
  </body>
</html>