<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Luxoft internal library LIL(y)</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lib_styles.css') }}">
    </head>

    <body>
        <h1 class="logo">Luxoft Internal Library sYstem - LILY</h1>
        <div class="header">
            <div class="links"><a href="{{ url_for('search') }}">Search</a></div>
            <div class="links"><a href="{{ url_for('order') }}">Book order</a></div>
            <div class="links"><a href="{{ url_for('books') }}">Books</a></div>
            <div class="links"><a href="{{ url_for('home') }}">Home</a></div>
        </div>
        
        {% block content %}
        {% endblock %}

    </body>
</html>