<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="header">
        <div class="links"><a href="{{ url_for('orders') }}">Orders</a></div>
        <div class="links"><a href="{{ url_for('update') }}">Update</a></div>
        <div class="links"><a href="{{ url_for('delete') }}">Delete</a></div>
        <div class="links"><a href="{{ url_for('add') }}">Add</a></div>
        <div class="links"><a href="{{ url_for('user') }}">User</a></div>
        <div class="links"><a href="{{ url_for('admin') }}">Admin</a></div>
    </div>

    <h3> Add User </h3>
    <p class="bottom-three"></p>

         <!-- tutaj pojdzie formularz wyszkuiwania ksiazek -->
         <h4> Add new book</h4>
         <form action="" method="post" name="search">
            <div class="field">
              <label for="title" class="label">Name</label>
              <div class="control">
                <input type="text" name="name" class="input" required="required"/>
              </div>
            </div>
            <div class="field">
              <label for="title" class="label">Surname</label>
              <div class="control">
                <input type="text" name="surname" class="input" required="required"/>
              </div>
            </div>
            <div class="field">
              <label for="title" class="label">mail</label>
              <div class="control">
                <input type="text" name="mail" class="input" required="required"/>
              </div>
            </div>
            <div class="field">
              <label for="title" class="label">phone</label>
              <div class="control">
                <input type="text" name="phone" class="input" required="required"/>
              </div>
            </div>
            
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary is-small" onclick="search()">Add</button>
              </div>
            </div>
          </form>

          {% if text %}
          {{ text | safe }}
          {% endif %}
    {% endblock %}
  </body>
</html>