{% extends "template_user.html" %}
{% block title %}
Book order
{% endblock %}

{% block content %}

<h3> Create book request </h3>
<p>
  <!-- formularz skladania zamowienia na ksiazke -->
        <!-- tutaj pojdzie formularz wyszkuiwania ksiazek -->
        <form action="" method="post" name="search">
            <div class="field">
              <label for="title" class="label">Book ID</label>
              <div class="control">
                <input type="text" name="bookid" class="input" required="required"/>
              </div>
            </div>
    
            <div class="field">
                <label for="title" class="label">Name</label>
                <div class="control">
                  <input type="text" name="name" class="input" required="required"/>
                </div>
              </div>

              <div class="field">
                <label for="title" class="label">Surname</label>
                <div class="control">
                  <input type="text" name="surname" class="input" required="required"/>
                </div>
              </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary is-small" onclick="order()">Order</button>
              </div>
            </div>
          </form>
</p>
{% if text %}
{{ text | safe }}
{% endif %}
{% endblock %}